{
    "db": {
        "db_host": "localhost",
        "db_port": 5432,
        
        "db_init_database": "postgres",
        "db_init_username": "postgres",
        "db_init_password": "dbpass",
        
        "db_database": "dbname",
        "db_schema": "public",
        "db_username": "dbuser",
        "db_password": "dbpassword"
    }
}