{
    "app": {
        "host": "localhost",
        "port": 42002,
        "debug": false,
        "default_user": {
            "login": "admin",
            "password": "password",
            "username": "Admin"
        },
        "token_lifetime": 604800,

        "composite_hierarchy_max_depth": 6
    },

    "cors_urls": ["http://localhost:8080"],

    "db": {
        "db_host": "localhost",
        "db_port": 5432,
        
        "db_init_database": "postgres",
        "db_init_username": "postgres",
        "db_init_password": "dbpass",
        
        "db_database": "dbname",
        "db_username": "dbuser",
        "db_password": "dbpassword"
    },

    "auxillary": {
        "enable_searchables_updates": true
    },

    "logging": {
        "folder": "logs",
        "app_mode": "file",
        "db_mode": "stdout",
        "scheduled_mode": "off"
    }
}
